PORT=4001
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
BACKEND_URL=http://localhost:4001
DATABASE_URL=postgresql://admin:admin@localhost:5451/fastinbox
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=
REDIS_DB=0
